{% extends 'base.html' %}
{% load static %}
{% block content %}

    <style>
    </style>

    <h1 class="container my-4">PROGRAMS</h1>

    {% for program in program_objects %}
        {% if forloop.first %}
            <div class="container">
                <div class="row">
                    {% endif %}
                    <div class="col-sm-4 my-4">
                        <div class="card">
                            <img class="card-img-top" src="{{ program.program_image }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ program.program_title }}</h5>
                                <p class="card-text">{{ program.program_content }}</p>
                                
                                {% if is_authenticated %}
                                <a href="{% url 'program_details' program.id %}" class="btn btn-dark">GO FUND</a>
                                {% else %}
                                <a class="lead" href="{% url 'login' %}">Log in</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% endif %}
                    {% if forloop.last %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}