{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row container-fluid">
        <div class="col-md-1"></div>
        <h1 class="col-md container my-4">{{ program.program_title }}</h1>
    </div>

    <div class="container-fluid row py-4">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img src="{{ program.program_image }}" class="rounded mx-auto d-block img-fluid">
            <p class="container my-4">{{ program.program_content }}</p>
        </div>
        <div class="col-md-5">
            <form action="{% url 'program_details' program.id %}" method="POST" class="container">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% if forloop.counter|divisibleby:5 %}{% else %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% endif %}
                    </div>
                {% endfor %}
                <br>
                <button type="submit" class="btn btn-info mb-2 mr-3 float-left">Submit</button>
            </form>
            <form action="/programs" class="container">
                <button type="submit" class="btn btn-danger mb-2">Cancel</button>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row container-fluid">
        <div class="col-md-1"></div>
        <h3 class="col-md container my-4">Donators</h3>
    </div>

    {% for donation in donations %}
        {% if forloop.first %}
            <div class="container">
                <div class="row">
                    {% endif %}
                    <div class="col-sm-6 my-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ donation.fullname }}</h5>
                                <p class="card-text">Rp. {{ donation.amount }}</p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 %}
                </div>
            </div>
            <div class="container">
                <div class="row">
                    {% endif %}
                    {% if forloop.last %}
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %}