{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% csrf_token %}
    <div class="container my-5 d-block mx-auto">
        <h5>Login with Google</h5>
        <div class="g-signin2 my-4" data-onsuccess="onSignIn"></div>
    </div>

{% endblock %}