{% extends 'base.html' %}


{% load static %}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel ="stylesheet" href="{% static 'css/about.css' %}" type = "text/css">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

<main>
<div class="jumbotron">
        <div class="container">
          <h1 class="ml11">
          <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">About Us</span>
            </span>
          </h1>
        </div>
      </div>
    </main>
<br><br><br>


      <div class="row">
        <div class="col">
          <h1> Our story.</h1>
        </div>
        <div class="col">
          SinarPerak Funding is a platform to help people who are in needs. <br><br> 
          We care about the world, the ongoing issues that happen around us. <br><br>
          Our mission is to make sure every person in this world feels loved. <br><br>
          <strong>Would you like to join us? </strong>
        </div>
      </div>
    
      <br><br><br>
      <div class="roundedrec">
            <div class="insiderec">
                <h1 class="judul">What They Say</h1> <br> <br> <br>
                <table id="talk" class="table" style="font-size: 15px;">
                    <thead>
                        <tr class="table text-center">
    
                            <th scope="col" class="align-middle">Name</th>
                            <th scope="col" class="align-middle" >Testimony</th>
                            
                        </tr>
                    </thead>
                {% if testimonies %}
                    <tbody>
                        {% for i in testimonies %}
                        <tr>
                            <td scope="row" style="text-align: center"> {{i.name}} </td>
                            <td scope="row" style="text-align: center"> {{i.testimony}} </td>
                            
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
                {%else%}
                    <tbody>
                        <p id="talk2">Belum ada testimoni.</p>
                    </tbody>
                </table>
                {%endif%}
            </div>
        </div>
        
        {% if is_authenticated %}
            <div class="roundedrec">
                <div class="insiderec">
                    
                    <form class="form-group" method="POST" id="post_form" style="color: #F56462;">
                        {% csrf_token %} 
                        {{ form }}     
                        <div class="center">
                            <input class="btn-dark round" id="test_button" type="submit" value="POST ME">
                        </div>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="roundedrec">
                <div class="insiderec">
                    <a class="isi kembali" style="text-decoration: underline;" href="{% url 'login' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>Login first to give a testimony!</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
</div>

      
<script>
    $('#post_form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    create_post();
});

function create_post() {
    console.log("create post is working!") // sanity check
    $.ajax({
        url : "/post/", // the endpoint
        type : "POST", // http method
		async: true,
        data : { 
			'csrfmiddlewaretoken':"{{ csrf_token }}",
		    post : $('#post-text').val() }, // data sent with the post request

        // handle a successful response
       success : function(json) {
           console.log(json);
			console.log($('#post-text').val())
			$('#post-text').val(''); // remove the value from the input -->
            console.log(json.message); // log the returned json to the console
			console.log("success"); // another sanity check
                $("#talk2").append("<td scope='row' style='text-align: center'>" + json.testimony.name + "</td>" +
                                "<td scope='row' style='text-align: center'>" + json.testimony.testimony + "</td>" );
                            
            console.log("masuk sini");
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
			$('#post-text').val('');
            console.log("Yah Error"); // provide a bit more info about the error to the console
        } 
    });
};





</script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
 <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
 <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
      

{% endblock content %}