@media (min-width: 576px){

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: #000000;
    border-radius: .3rem;
}

div {
    display: block;
}

.ml11 {
    font-weight: 900;
    font-size: 3.5em;
    color: #ffffff;
    text-align: center;
    font-size: 5rem;
    font-family: 'Libre Baskerville', serif;
}

.ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}
  
.ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}
  
.ml11 .line1 { 
    top: 0; 
    left: 0;
}
  
.ml11 .letter {
    display: inline-block;
    line-height: 1em;
}

#mission{
    text-align: center;
    
}

}

h1{
    margin-left: 150px;
}

.center{
  text-align: center;  
}

#test_button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  #test_button:hover {opacity: 1}
  
  #post_form{
      margin-left: 200px;
      margin-right: 200px;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }