@media screen and (min-width: 601px){
.news-heading {
    font-size: 40px;
    margin-left: 200px;
    }

.news-heading-details{
    font-size: 80px;
    margin: 100px;
}

.news-body-details{
    margin: 100px;
}

.news-picture-details{
    margin: 1800px;
    margin-top: 300px;
}

.news-body{
    margin-left: 200px;
}
}