/* css */

.karla {
    font-family: 'Karla', sans-serif;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Karla', sans-serif !important;
}

p {
    font-family: 'Lato', sans-serif !important;
}

.homepage-content {
    background: url('/static/img/donationbackground.jpg') no-repeat;
    background-position: 0% 35%;
    background-size: cover;
    min-height: 600px;
    height: 100%;
    width: 100%;
    bottom: 0;
}

.homepage-communication-block {
}

.homepage-utility-block {
}

#showcase {
    background: url("https://pbs.twimg.com/media/DpkMZDuUYAAEWGc.jpg:large") no-repeat;
    height : 600px;
    background-position: center;
    background-size:cover;
    opacity: 0.9;
}

#sign-up{
    background: url("https://pbs.twimg.com/media/Dpt-vZSVAAYDVfR.jpg:large");
    background-attachment : fixed;
    height : 670px;
    background-position: center;
    background-repeat : no-repeat;
    background-size:cover;
    letter-spacing: 6px;
}

#cancel{
    border-radius: 20px;
}

#signmeup{
    border-radius: 20px;
}

#sinarperak{
    color: #49515E ;
    font-size: 35px;
}

#love{
    color:#49515E ;
    font-weight:bold ;
    font-size:20px;
}

#donate{
    color: #49515E ;
    font-size: 13px;
}

#happening{
    color: #49515E;
    font-size:13px;
}

#resignup{
    color: #49515E ;
    font-size: 20px;
    text-align:center;
}

#myhome{
    color: #49515E ;
    font-size: 20px;
    text-align:center;
}
