{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

    <!--<section id="showcase">-->
        <!--<div class="container mx-auto py-5">-->
            <!--<h1 class="text-center my-5">WELCOME TO SINARPERAK</h1>-->
            <!--<h2 class="text-center my-5">A place to spread love and kindness</h2>-->
        <!--</div>-->
        <!--<div class="container mx-auto text-center">-->
            <!--<a class="btn btn-dark mr-3" href="{% url 'programs' %}">I WANT TO DONATE</a>-->
            <!--<a class="btn btn-dark ml-3" href="{% url 'news' %}">WHATS HAPPENING</a>-->
        <!--</div>-->
    <!--</section>-->

    <div class="homepage-content">
        <div class="homepage-communication-block mx-auto text-center mt-5">
            <h1>We are here to help.</h1>
        </div>
        <div class="homepage-utility-block mt-4 mx-auto text-center">
            <a class="btn btn-dark mx-2 my-2" href="{% url 'programs' %}">I want to Donate</a>
            <a class="btn btn-dark mx-2 my-2" href="{% url 'news' %}">What's happening?</a>
        </div>
    </div>

{% endblock %}