{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container my-4">
        <h1>Donations</h1>
        {% for donation, program in donations %}
            {% if forloop.first %}
                <div class="container">
                    <div class="row">
                        {% endif %}
                        <div class="col-sm-3 my-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ program.program_title }}</h5>
                                    <p class="card-text">{{ donation.amount }}</p>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 %}
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        {% endif %}
                        {% if forloop.last %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}