{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="google-signin-client_id" content="464361038996-o21jn0q1ch6msar62p17qr58mehlriol.apps.googleusercontent.com">

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styles.css' %}"/>

    <link href="https://fonts.googleapis.com/css?family=Karla|Lato|Oswald" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

    <script rel="script" type="text/javascript" src="{% static 'js/login.js' %}"></script>

    <title>SinarPerak</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand text-light oswald" href="/">Sinar Perak</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end lato" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li class="nav-item {% if navItem == 'home' %}active{% endif %}">
                    <a class="text-light nav-link" href="/">Home</a>
                </li>
                <li class="nav-item {% if navItem == 'news' %}active{% endif %}">
                    <a class="text-light nav-link" href="/news/">News</a>
                </li>
                <li class="nav-item {% if navItem == 'programs' %}active{% endif %}">
                    <a class="text-light nav-link" href="/programs/">Programs</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="text-light nav-link dropdown-toggle btn btn-danger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.session.name }}</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="profile-btn" class="dropdown-item" href="/profile/">Profile</a>
                        <a id="login-logout-btn" class="dropdown-item"></a>
                    </div>
                </li>
                <li class="nav-item {% if navItem == 'about' %}active{% endif %}">
                    <a class="text-light nav-link" href="/about/">About</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>