{% extends 'base.html' %}


{% load static %}
{% block content %}

<link rel ="stylesheet" href="{% static 'css/newscss.css' %}" type = "text/css">

<div class = "row container-fluid my-4">
        <div class="col-md-1"></div>
        <div class = "col-md-6 my-4">
            <h1 class = "container mb-4" style="font-size: 70px !important;">NEWS</h1>
        </div> 
    </div>


{% for i in news_objects %}


<div class="row container-fluid my-5">
        <div class="col-md-1"></div>
        <div class="col-md-4">

        <img src="{{ i.news_image }}" alt="W3Schools.com" class="img-fluid rounded">
        </div>
    <div class="col-md-4">
        <h2 class="container">{{ i.news_title }}</h2>
        <br>
        <p class="container">{{ i.news_content }}</p>
    </div>
    
    <div class="col-md-2 my-9">
            <a href="{% url 'newsdetails' idnews=i.id %}" class="btn btn-dark">READ MORE</a>
            <div class="col-md-1"></div>
    </div>
</div>

<br><br><br><hr><br><br><br>
{% endfor %}




{% endblock content %}