{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<link rel ="stylesheet" href="{% static 'css/newscss.css' %}" type = "text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <div class = "row container-fluid my-4">
        <div class="col-md-1"></div>
        <div class = "col-md-6 my-4">
            <h1 class = "container mb-4" style="font-size: 70px !important;">{{ news_id.news_title }}</h1>
        </div> 
    </div>
        
    <div class = "row container-fluid my-4">
        <div class="col-md-1"></div>
        <div class = "col-md-6 my-4">
            <p class = "container"> {{ news_id.news_content }}</p>
        </div>

        <div class = "col-md-4 my-4">
           
            <img src="{{ news_id.news_image }}" class = "rounded img-fluid d-block mx-auto" alt="W3Schools.com">
            <br> <br> <br>
            <p class = "source text-right"><i>Source: www.kompas.com</i></p>    
        </div>
        <div class="col-md-1"></div>

    </div>
</div>
<br><hr>

{% endblock content %}